/* Primary Stylesheet Styles: */
html {
	scroll-behavior: smooth;
}
pre {
	background-color: var(--background-accent);
}
aside {
	border: 1px solid currentColor;
	border-width: 1px 0;
}
a {
	color: #5d72d8;
}
html {
	color: #000;
	background-color: #fff;
	--background-accent: #eee;
}
@media (prefers-color-scheme: dark) {
	html {
		background-color: #111;
		color: #ccc;
		--background-accent: #222;
	}
	img.auto-dark {
		filter: invert() hue-rotate(180deg);
	}
}
time {
	font-variant: small-caps;
}

/* Editing Stylesheets: */
body {
	position: relative;
}
*[contenteditable=""]:focus {
	outline: 0;
}
#editor-floater {
	position: absolute;
	right: 100%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
}
p > img:only-child {
	border: 3px solid red;
}