* {
	margin: 0;
	scroll-behavior: smooth;
}
p {
	/* orphans: 2;
	widows: 2; */
	text-indent: 4ch;
}
p + p, article h1, article h2, article h3, article h4, article h5, article h6 {
	margin-top: 1em;
}
body {
	max-width: calc(60ch + 6em);
	margin: 0 auto;
	tab-size: 4; /* TODO: Let users customize their tab-size */
}

body {
	--background-color: #eee;
	--foreground-color: #111;
	--code-background: #D4D7ED;
	--link-color: #5d72d8;
}
@media(prefers-color-scheme: light) {}
@media(prefers-color-scheme: dark) {
	/* TODO: Add menu to control light/dark mode */
	body {
		--background-color: #111;
		--foreground-color: #ccc;
		--code-background: #2E3760;
		--link-color: #7F8EDC;
	}
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	box-sizing: border-box;
	transition: padding 0.3s;
	padding: 3em;
	background-color: var(--background-color);
	color: var(--foreground-color);
	
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.4pt;
}
@media(max-width: 500px) {
	body {
		padding: 1em;
		tab-size: 2;
	}
}

body > header, body > footer {
	margin: 1em 0;
}
body > header {
	padding: 1em;
	text-align: center;
	border-left: 2px solid currentColor;
	border-right: 2px solid currentColor;
}
body > footer {
	padding: 1em 0;
	border-top: 2px solid currentColor;
}

.single header {
	margin-bottom: 1em;
	margin-block-end: 1em;
}
article + article {
	margin-top: 1em;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h1 a, nav a {
	text-decoration: none;;
}
.separator {
	text-align: center;
	font-variant-caps: small-caps;
}
time {
	font-variant: small-caps;
}
header, footer {
	break-inside: avoid-column;
}
nav {
	font-variant: small-caps;
}
a {
	color: var(--link-color);
	font-weight: bold;
	line-break: loose;
}
:target {
	border-bottom: 1px solid var(--link-color);
}
.toc {
	border-top: 1px solid currentColor;
	border-bottom: 1px solid currentColor;
	padding: 1em;
	margin: 1em 0;
}
ul, ol {
	padding: 0;
	margin: 1em 0;
}
ul ul, ol ul, ul ol, ol ol {
	margin: 0;
}

nav ul {
	margin: 0;
}
li {
	list-style: square outside;
	margin-left: 1.5em;
}

pre {
	overflow-x: auto;
	line-height: 1;
	padding: 0.5em; /* Trying to remove vertical scroll bars which showed up after adding line-height */
	white-space: pre-wrap;
}
pre code {
	background-color: unset;
}
code {
	font-size: 14px;
	font-family: monospace;
	background-color: var(--code-background);
}
img {
	max-width: 100%;
	display: block;
}
nav.paginator {
	text-align: center;
}
