<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{#> title ~}}
			Evan Brass
		{{~/title}}</title>
		<meta name="description" content="{{#> description ~}}
			A programmer with chronic second system syndrome.
		{{~/description}}">
		<style>{{ includestatic "css/header-styles.css" }}</style>
		<link rel="preload" as="style" href="/css/main.css" onload="this.onload=null;this.rel='stylesheet'">
		<link rel="stylesheet" media="print" href="/css/print.css">
	</head>
	<body>
		<header>
			<h1>Evan Brass</h1>
			<nav>
				<a href="/">Home</a>
				<a href="/about/">About</a>
				<a href="/blog/">Blog</a>
			</nav>
		</header>
		<main>
			{{#> main}}

			{{/main}}
		</main>
		<footer>
			<a href="https://twitter.com/evan_brass">Twitter</a> and <a href="https://github.com/evan-brass">GitHub</a>
		</footer>
		<noscript>
			<link rel="stylesheet" href="/css/main.css">
		</noscript>
	</body>
</html>