{% extends "index.html" %}
{% block title %}{{post.title}} - {{ super() }}{% endblock title %}

{% block description %}{{post.description}}{% endblock description %}

{% block main %}
<article itemscope itemtype="https://schema.org/BlogPosting">
	<header>
		<!-- TODO: Social Media image
		<img itemprop="image" src="" alt="">
		-->
		<h1 itemprop="headline">{{post.title | safe}}</h1>
		<span itemprop="author">Evan Brass</span>
		{% if post.published %}
		<time itemprop="datePublished" datetime="{{post.published | fmtdate(fmt = "%F")}}">{{post.published | fmtdate(fmt = "%B %-d, %Y")}}</time>
		{% endif %}
		<ul itemprop="keywords">
			{% for tag in post.tags %}<li>{{tag.name}}</li>{% endfor %}
		</ul>
		<nav is="blog-contents">
		<!-- TODO -->
		</nav>
	</header>
	<div itemprop="articleBody">
		{{post.content | safe}}
	</div>
</article>
{% endblock main %}